@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-mn: 320px;
  --breakpoint-ssm: 430px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
  --animate-line-shadow: line-shadow 15s linear infinite;
  @keyframes line-shadow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% -100%;
    }
  }
  --animate-gradient: gradient 8s linear infinite
;
  @keyframes gradient {
  to {
    background-position: var(--bg-size, 300%) 0;
    }
  }}

.wrap-content {
  max-width: 1200px;
  width: calc(100% - 20px);
  margin: 0 auto;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

:after,
:before {
  --tw-content: '';
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-multi-gradient {
    background-image:
      linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.element {
  --speed: 1s;
}
.animate-rainbow {
  animation: rainbow var(--speed, 2s) infinite linear;
}

@keyframes rainbow {
  0% {
    content: var(--tw-content);
    background-position: 0;
  }

  to {
    content: var(--tw-content);
    background-position: 200%;
  }
}
.before\:animate-rainbow:before {
  content: var(--tw-content);
  animation: rainbow var(--speed, 2s) infinite linear;
}
.before\:bg-\[length\:200\%\] {
  &::before {
    content: var(--tw-content);
    background-size: 200%;
  }
}

.rotate-ani {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.single-service-item,
.single-brand-item img,
.single-brand-item {
  transition: all 0.4s ease 0s;
}
.single-service-item:hover {
  box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15);
}
.single-brand-item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15);
}

.single-brand-item:hover img {
  filter: brightness(0%);
  -o-filter: brightness(0%);
  -ms-filter: brightness(0%);
  -moz-filter: brightness(0%);
  -webkit-filter: brightness(0%);
}

.shine-border-fix {
  -webkit-mask: none !important;
  mask: none !important;
  -webkit-mask-composite: initial !important;
  mask-composite: initial !important;
}
.logo-footer,
.logo {
  z-index: 2;
  background: radial-gradient(circle at 100%, #4b296980, #563277, #4a378c 50%, #4066a8 70%, #32517380);
  border-radius: 10px;
  transition: all 0.6s ease-out;
  position: relative;
  overflow: hidden;
  transform: translateZ(0) scale(1);
}
.logo {
  width: 60px;
  height: 60px;
}
.logo-footer {
  width: 134px;
  height: 134px;
  box-shadow: 0 30px 35px -10px #0009;
}
.logo-footer-border,
.logo-border {
  position: absolute;
  border-radius: 10px;
  inset: 2px;
  transition: all 1s ease;
  border: 5px solid rgba(89, 82, 108, 0.3);
  opacity: 0.8;
  background-color: #2828284d;
}

.logo-footer-edge,
.logo-edge {
  position: absolute;
  inset: 0;
  border: 2px solid;
  border-image-slice: 1;
  opacity: 1;
  border-image-source: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0) 60%,
    rgba(255, 255, 255, 0.15) 65%,
    rgba(0, 0, 0, 0) 90%
  );
  animation: logoRotateGradient 8s linear infinite;
  will-change: opacity, border;
  transition: all 1s ease-in-out;
}

.logo-footer-filter,
.logo-filter {
  position: absolute;
  inset: 0;
  transform: translateZ(0) scale(0.97);
  transition: transform 0.3s ease-in-out;
  background:
    linear-gradient(130deg, #3d3d3d4d, #3d3d3d00 40%), linear-gradient(130deg, #2a213f00 60%, #3d3d3d4d),
    linear-gradient(to bottom, #100e1a4d 60%, #0c0c0c00);
  border-radius: 10px;
}
.logo-footer-filter::before,
.logo-filter::before {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: linear-gradient(-130deg, #2a213f00 40%, #9a98de33, #2a213f00 60%);
  background-size: 400%;
  filter: blur(10px);
  border-radius: 100px;
  mix-blend-mode: color-dodge;
  animation: shimmerEffect 8s infinite linear;
}

.logo-footer-filter::after,
.logo-filter::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: linear-gradient(130deg, #3d3d3d00 45%, #9a98de4d 50%, #3d3d3d00 60%);
  background-size: 500%;
  filter: blur(8px);
  border-radius: 100px;
  mix-blend-mode: color-dodge;
  animation: shimmerEffect 6s infinite linear;
}

.logo-footer-img,
.logo-img {
  z-index: 3;
  opacity: 1;
  filter: brightness(3.5);
  transition: all 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.logo-footer-img {
  width: fit-content;
}
.logo-img {
  width: 20px;
}

@keyframes shimmerEffect {
  100% {
    background-position-x: 0;
  }
}

@keyframes logoRotateGradient {
  0% {
    border-image-source: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0) 60%,
      rgba(255, 255, 255, 0.15) 65%,
      rgba(0, 0, 0, 0) 90%
    );
  }
  25% {
    border-image-source: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0) 60%,
      rgba(255, 255, 255, 0.15) 65%,
      rgba(0, 0, 0, 0) 90%
    );
  }
  50% {
    border-image-source: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 60%,
      rgba(255, 255, 255, 0.15) 65%,
      rgba(0, 0, 0, 0) 90%
    );
  }
  75% {
    border-image-source: linear-gradient(
      to left bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(255, 255, 255, 0.15) 65%,
      rgba(0, 0, 0, 0) 90%
    );
  }
  100% {
    border-image-source: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0) 60%,
      rgba(255, 255, 255, 0.15) 65%,
      rgba(0, 0, 0, 0) 90%
    );
  }
}
.logo-footer-shine-effect,
.shine-effect {
  pointer-events: none;
  filter: drop-shadow(0 0 0.6rem #ffffad80) blur(10px);
  background: linear-gradient(130deg, #fff0 0%, #ffffff40 50%, #ffffff3d 100%);
  animation: 7.5s linear infinite slideShine;
  position: absolute;
  top: -50%;
  left: -50%;
  transform: rotate(0);
}
.logo-footer-shine-effect {
  width: 220px;
  height: 350px;
}
.shine-effect {
  width: 80px;
  height: 269px;
}
@keyframes slideShine {
  0% {
    transform: translate(-100%, -100%) rotate(40deg);
  }
  100% {
    transform: translate(100%, 100%) rotate(40deg);
  }
}